{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block lia_cms_auth %}
    <div id="site-auth">
        {% if error %}
            {{ app.session.flashbag.add('error_form', error.messageKey|trans(error.messageData, 'security')) }}
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                <input type="password" id="password" name="_password" required="required"/>
            </div>
            <div>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
        </form>
    </div>
{% endblock lia_cms_auth %}

{% block lia_cms_content %}
    {{ lia_get(service_home).homeAction(true)|raw }}
{% endblock %}
